
/*container*/
.container{
	width:1440px;
	height:600px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 27.5px;
	margin-right: 27.5px;

}

.div{
	display:block;
}
/* phone-user*/
.phone-user{
	position: relative;
	top:51px;
	left:6px;
	background-color: white;
	opacity: 0.8;
}
/*form-horizontal*/
.form-horizontal{
	position: relative;
	top:10px;
}
/*form-group*/
.form-group{
	position:relative;
	top: 15px;
}
/* condition*/
.condition{
	border:2px solid #bdc3c7;
	font-family: "Lato", Helvetica, Arial,sans-serif;
	font-size: :8px;
	height:35px;
	width:180px;
	position:relative;
	left:5px;
}
/*add button*/
#add-botton{
	font-size:12px;
	text-align: center;
	border-radius: 6px;
	color:#ffffff;
	background-color: #1abc9c;
	width:50px;
	height:35px;
	position: relative;
	left:5px;
	top:0px;
}

/*condition-list*/
.condition-list{
	font-size:12px;
	text-align: center;
	border-radius: 6px;
	color:#ffffff;
	width:220px;
	height:315px;
	position: relative;
	left:-7px;
	top:10px;
}

/*submit-btn*/
#submit-btn{
font-size:12px;
	text-align: center;
	border-radius: 6px;
	color:#ffffff;
	background-color: #1abc9c;
	width:100px;
	height:35px;
	position: relative;
	left:58px;
	top:15px;
}
#map-canvas{
	position:relative;
	top:5px;
	left:-55px;
	background-color:green;
	opacity:1;
}
.event{
	border:2px solid #bdc3c7;
	font-family: "Lato", Helvetica, Arial,sans-serif;
	font-size: :8px;
	height:35px;
	width:150px;
	position:relative;
	left:20px;

}
.phone-event{
	position: relative;
	top:53px;
	left:6px;
	background-color: white;
	opacity: 0.8;
}
#add-event{
font-size:12px;
text-align: center;
border-radius: 6px;
color:#ffffff;
background-color: #1abc9c;
width:80px;
height:35px;
position: relative;
left:20px;
top:0px;
}



